@font-face {
    font-family: "kelfont";
    src: url("utilities/fonts/Kelson_Family/Armasen-Kelson.otf");
    font-weight: 500;
     font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: "kelfont";
    src: url("utilities/fonts/Kelson_Family/Armasen-Kelson-ExtraBold.otf");
    font-weight: bold;
    font-style: normal;
    font-display: fallback;;
}
@font-face {
    font-family: "kelfont";
    src: url("utilities/fonts/Kelson_Family/Armasen-Kelson-ExtraBold.otf");
    font-weight: 700;
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: "kelfont";
    src: url("utilities/fonts/Kelson_Family/Armasen-Kelson-Light.otf");
    font-weight: 300;
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: "titlefont";
    src: url("utilities/fonts/FredokaOne-Regular.ttf");
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
}

@media(min-width:1230px){
    .container{
        max-width: 1200px !important;
    }
}
@media(min-width:1330px){
    .container{
        max-width: 1300px !important;
    }
}
@media(min-width:1430px){
    .container{
        max-width: 1400px !important;
    }
}
h1,h2,h3,h4{
    font-family: "titlefont", sans-serif;
}
h1{
    font-size: 48px !important;
    line-height: 50px !important;
    margin-left: -3px;
}
p,ul,a,li{
    font-family: "kelfont", sans-serif;
    font-weight: 300;
}
main{
    overflow: hidden;
}
body{
    overflow-x: hidden;
}
.loading{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.con_git{
    display: none;
}
.min-100{
    min-height: calc(100vh - 116px);
}
@media(min-width:991px){
    .con_git {
        position: absolute;
        top: 0;
        right: 0;
        width: 150px;
        height: 150px;
        display: block;
        z-index: 300;
        cursor: pointer;
    }
    .con_git:before{
        position: absolute;
        content:"";
        border:75px solid;
        border-color: #46aef7 #46aef7 transparent transparent ;
    }
    .con_git img {
        max-width: 40px;
        position: absolute;
        top: 15px;
        right: 15px;
        transform: rotate(45deg);
    }
    .con_git p{
        margin-top: 0;
        margin-bottom: 1rem;
        position: absolute;
        color: white;
        width: 100%;
        text-align: center;
        margin-bottom: 0;
        top: 44px;
        right: -17px;
        transform: rotate(45deg);
    }
}
